<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9LX38Ak4hPAabn3SKL2VLE1zDR-E_D5U</string>
	<key>GCM_SENDER_ID</key>
	<string>254222419009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bacbon.lms-demo</string>
	<key>PROJECT_ID</key>
	<string>hsep-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>hsep-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254222419009:ios:0eea814a0dd647c69ef2c0</string>
</dict>
</plist>